*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

    -moz-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    -webkit-font-kerning: none;
    font-kerning: none;
    text-rendering: optimizeLegibility;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-word;
    outline: none;
    text-decoration: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Muli Regular',-apple-system,BlinkMacSystemFont,sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}
@media (min-width: 1600px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1400px;
  }
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 90%;
  }
}
:focus{
    outline:none !important;
    box-shadow: none !important;
  
}
figure{
    margin:0
}
img{
    max-width: 100%;
    height:auto;
}
a{
    color: rgb(60, 72, 82);
    text-decoration: none;
}
a:hover{
    color: rgb(0 156 231);
    text-decoration: none;
}

body{
    font-size: 16px;
    line-height: normal;
    font-family: 'Muli Regular';
    color: rgb(60, 72, 82);
    background: #f7f7f7;
}
.text-blue{
  color: #009ce7;
}
p{
    font-size: 16px;
    line-height: normal;
    color: rgb(60, 72, 82);
    line-height: 26px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size:36px;
    color: rgb(60, 72, 82);
    font-weight: bold;
}
h3{
    font-size: 24px;
    color: rgb(60, 72, 82);
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-weight: bold;
    color:rgb(60, 72, 82);
}
h5{
    font-size: 12px;
    color: rgb(128, 128, 128);
    font-weight: 600;
}


  /* Bubbly Button */

  .bubbly-button {
    -webkit-appearance: none;
    appearance: none;
    /*background-color: #009ce7;*/
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0 156 231, 0.5);
    z-index: 9;
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, transparent 20%, #009ce7 20%, transparent 30%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #009ce7 15%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #009ce7 15%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%), radial-gradient(circle, #009ce7 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    /*transform: scale(0.9);*/
    background-color: #009ce7;
    box-shadow: 0 2px 25px rgba(0 156 231, 0.2);
    color:#fff;
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }


  /* Button effect */


.btn-effect {
    color: #09dc9b;
    border: none;
    outline: none;
    padding: 8px 24px;
    background-color: transparent;
    cursor: pointer;
    font-family: fira sans,sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    border: 1px solid #09dc9b;
    min-width: auto !important;
    font-size: 18px;
    margin: 34px 10px 0px 0px;
    background: #2d2e43;
    transition: all 0.3s linear;
    position: relative;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    letter-spacing: 0.05em;
    display: inline-block;
}
.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2d2e43;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform 0.3s linear;
    transition: transform 0.3s linear;
}
.btn-effect.active {
    background-color: #09dc9b;
    color: #fff;
}

.btn-effect:hover, 
.btn-effect:before {
    background-color: #09dc9b;
}
.btn-effect:hover::before {
    transform: scaleX(1);
}
.water-ripple{
  position: relative;
}
.water-ripple canvas{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.water-ripple .container{
  position: relative;
  z-index: 999;
}
section{
  padding:100px 0
}
.rounded-btn{
  border:2px solid #009ce7;
  border-radius:30px;
  padding:10px 30px;
  background:#fff;
  color:#009ce7;
}
.rounded-btn:hover{
  background: #009ce7;
  color: #fff; 
  border: 2px solid #009ce7;
}
.rounded-btn-white{
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  background: #fff;
  color: #009ce7; 
}
.rounded-btn-white:hover{
  background: #009ce7;
  color: #fff; 
  border: 2px solid #009ce7;
}
.StatsCard__Row{
  display:flex;
}
.StatsCard__Label{
  font-size: 40px;
    font-weight: bold;
    color: rgb(60, 72, 82);
    line-height: 120%;
}
.col-count-2{
  column-count: 2;
  column-gap: 20px;
}

footer .col-count-3{
  column-count: 3;
  column-gap: 20px;
}

.col-count-5{
  column-count: 5;
  column-gap: 20px;
}

footer p,
footer a{
  font-size: 13px;
}
.footer-list li{
  margin-bottom:5px;
}

.custom-checkbox .custom-control-label::before{
  border-radius:0;
}
.custom-control-input:focus~.custom-control-label::before{
  box-shadow: none;
}
.custom-control-input{
  width:20px
}
.custom-control-label::before{
  top:initial;
  width: 20px;
  height: 20px;
}
.custom-control-label::after{
  width: 20px;
  height: 20px;
  top:-5px;
  left:-1.8rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  width:30px;
  height:30px
}


.red{
  color:red;
}
.breadcrumb-item+.breadcrumb-item::before{
	color:#fff
}
.bg-dark{
	background:#1b1b1b !important;
}
.font-18{
	font-size:18px;
}

.view_rating .star i{
	color:#fbba01
}
.accordion .card-header{
	cursor:pointer;
	background:#fbfbf8;
	padding: 20px 20px 20px 55px;
	position:relative;
	display: flex;
    justify-content: space-between;
}
.accordion .card-header:before{
	font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f078";
    color: #333;
    display: inline-block;    
    position: absolute;
    left: 22px;
    top:50%;
	transform:translateY(-50%);
	transition:0.2s ease all;
}
/*.accordion .card-header.collapsed:before{
	transform: translateY(-50%) rotate(-180deg);
	transform-origin:center center;
}*/
.accordion .card-header h5{
	font-size:16px;
	font-weight:bold;
	color:#3c3b37
}

@media(max-width:991px){
  h1{
    font-size: 33px;
    font-weight: bold;
  }
  h2{
      font-size:28px;
      color: rgb(60, 72, 82);
      font-weight: bold;
  }
  h3{
      font-size: 22px;
      color: rgb(60, 72, 82);
      font-weight: bold;
  }
  h4{
      font-size: 18px;
      font-weight: bold;
      color:rgb(60, 72, 82);
  }
  h5{
      font-size: 12px;
      color: rgb(128, 128, 128);
      font-weight: 600;
  }
  section{
    padding:70px 0
  }
}