@media (max-width: 1300px){
    .courses_select .cousre_list li{
        width: calc(100% / 4);
    }
  }

@media (max-width: 1100px){
    .col-gap-40 {
        column-gap: 30px;
    }
    .banner {
        background-size: 45% !important;
    }
    .course_content .course-highlights li{
        width: 100%;
    }
  }
@media (min-width: 992px){
	header nav{display:block !important}
}
@media (max-width: 991px){
    footer .col-count-3{
        column-count: 2;
    }
    .start_learning{
        padding:70px 0;
    }
    .courses_select .cousre_list li{
        width: calc(100% / 3);
    }
    header nav{
        display: none;
    }
    .hamburger{
        display:block
    }
	.learning_points li{
		width:100%
    }
    .course_content .course-highlights li{
        width: 47%;
    }
}

@media (max-width:767px){
    .banner {
        background:#fff !important;
    }
    .we_offer_block figure {
        width: 60px;
        margin-right: 20px;
    }
    .we_offer_block .description {
        width: calc(100% - 80px);
    }
    .footer-list{
        margin-top:20px
    }
    .courses_select .cousre_list li{
        width: calc(100% / 1);
        padding-right: 0;
    }
    .checklists .cousre_list li{
        width:100%
    }
    .your_info_form .rounded-btn{
        margin-left:0 !important;
        margin-bottom:15px;
    }
}